@import '../../../styles/styles.scss';

.card {
  font-size: 12px;
  background-color: 333749;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px ;
  box-sizing: border-box;
  aspect-ratio: 2 / 3; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; 

  &-availability{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;


    &_characteristics{
      p{
        margin: 0;
        font-size: 10px;
      }
      .onsale{
        color: $primary-green;
        padding-right: 4px;
        font-size: 18px;
        font-weight: 900;

      }
      .badge{
        font-size: 10px;
        padding: 2px 4px;
        border: 1px solid $primary-green;
        border-radius: 4px;
      }
    }

    &_amount{
      input{
        width: 60px;
        height: 30px;
        background-color: #4c608533;
        border: .5px;
        border-radius: 4px;
        color: #FFFFFF;
        padding: 8px;

      }
    }
  }

  &-image{
    padding: 12px 0;
    margin-right: auto;

    img{
      width: 50px;
    height: 50px;
    }
  }

  &-title{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: #ffffff;
    padding: 4px 0 12px;
    .principal-title{
      font-size: 12px;
      
    }
    .game{
      color: $primary-green;
      padding: 2px 6px;
      border: 1px solid $primary-green;
      border-radius: 28px;
      
    }
  }

  &-price{
    margin-top: 8px 0;
    font-size: 12px;
    text-align: left;
    margin-right: auto;

    &_current{
      padding-right: 6px;
      position: relative;
      padding-right: 4px;
      color: #fff;
      font-weight: 500;
    }

    &_old{
      text-decoration: line-through;
      position: relative;
    }

    &_old::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-top: 2px solid #bf4549; /* Ajusta el grosor y color de la línea según sea necesario */
      transform: translateY(-50%);
    }

 
  }

  &-description{
    color: #ffffffbf;
    padding: 8px 0 12px;
  }


  &-actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;

    button {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border: none;
      border-radius: 4px;
    }

    &_details{
      background-color: #404254;
      color: #cfd0d4;
      width: 100%;
      
    }

    &_add {
      background-color: #5662d4;
      color: #fafcff;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img{
        width: 14px;
        padding: 8px;
        background-color: #444fa6;
        border-radius: 6px;
        margin-left: 4px;
      }
    }
  }
  
}