<div class="card">
  <div class="card-availability">
    <div class="card-availability_characteristics">
      <p><span class="onsale">·</span>ON SALE</p>
      <span class="badge">In stock</span>
    </div>
    <div class="card-availability_amount">
      <input type="number" value="1">
    </div>
  </div>

  <div class="card-image">
    <img src="/assets/images/item-card.png" alt="">
  </div>

  <div class="card-title">
    <span class="principal-title">Blue Partyhat</span>
    <span class="game">RS3</span>
  </div>

  <div class="card-price">
    <span class="card-price_current">$450</span>
    <span class="card-price_old">$522</span>
  </div>

  <div class="card-description">
    <span>Lorem ipsum dolor sit amet consectetur sadipscing elitr.</span>
  </div>

  <div class="card-actions">
    <button class="card-actions_details">Details</button>
    <button  class="card-actions_add">Add <img src="/assets/images/cart-shopping-solid.svg" alt=""></button>
  </div>

</div>
