<section class="layout">
  <div class="background-filter"></div>
  <div class="container">

    <h1>Condimentum consectetur</h1>

    <!-- Filters section -->

    <div class="filters">
      <div class="game filter">
        <div>
          <img class="logo" src="/assets/images/albion.png" alt="Albion logo">
          <span>Albion</span>
        </div>
        <img class="arrow" src="/assets/images/arrow-white-fill.svg" alt="Select Games">
      </div>
      <div  class=" search">
        <span class="icon">
          <img src="/assets/images/search-icon.svg" alt="Lupa">
        </span>
        <input class="filter" type="text" placeholder="Search">
      </div>
      <div class=" price filter">
        <div class="price-items">
          <img class="bag" src="/assets/images/item-bag.svg" alt="">
          <div class="price-items_description">
            <span class="title">Price</span>
            <span class="option">All</span>
          </div>
        </div>
        <img class="arrow" src="/assets/images/arrow-white-fill.svg" alt="Select price">
      </div>
      <div class="price filter">
        <div class="price-items">
          <img class="bag" src="/assets/images/feather.svg" alt="">
          <div class="price-items_description">
            <span class="title">Item Type</span>
            <span class="option">All</span>
          </div>
        </div>
        <img class="arrow" src="/assets/images/arrow-white-fill.svg" alt="Select price">
      </div>
        
      
    </div>

    <!-- Filters section end -->
    <!-- Products section -->
     <div class="products-section">
        <div class="sort-container">
          <div class="sort">
            <span>Showing 20- from 125</span>
          </div>
          <div class="sort filter">
            <div class="sort-items">
              <img class="sort-img" src="/assets/images/feather.svg" alt="">
              <div class="sort-items_description">
                <span class="title">Sort by</span>
                <span class="option">Featured</span>
              </div>
            </div>
            <img class="arrow" src="/assets/images/arrow-white-fill.svg" alt="Select price">
          </div>
        </div>

        <div class="card-container">
          <app-product-card></app-product-card>
          <app-product-card></app-product-card>
          <app-product-card></app-product-card>
          <app-product-card></app-product-card>
        </div>
     </div>

  </div>
</section>
