<footer class="footer">

  <!-- Payments method section -->
  <div class="footer-payments">
    <div class="container footer-payments_container">
      <div class="card">
        <img src="/assets/images/visa.webp" alt="Payments method">
        <img src="/assets/images/mastercard.webp" alt="Payments method">
        <img src="/assets/images/american.webp" alt="Payments method">
        <img src="/assets/images/Skrill_logo.webp" alt="Payments method">
      
      </div>
      <div class="cripto">
        <img src="/assets/images/Bitcoin.webp" alt="Payments method">
        <img src="/assets/images/tellor.webp" alt="Payments method">
        <img src="/assets/images/bitcloud.webp" alt="Payments method">


        <span> and 50+ more</span>
      </div>
    </div>
  </div>
  <!--  End Payments method section -->
  <div class="container">
    <!-- Social networks sections-->

    <div class="footer-networks">
      <img class="facebook" src="/assets/images/facebook.svg" alt="To Facebook">
      <img class="instagram" src="/assets/images/instagram.svg" alt="To Intagram">
      <img class="twitter" src="/assets/images/twitter.svg" alt="To Twitter">
      <img class="discord" src="/assets/images/discord.svg" alt="To Discord">
    </div>
    <!--End social networks -->

    <!-- Site map section -->

    <div class="footer-site-sections">
      <div class="sitemap">
        <img src="/assets/images/chicks-logo-large.svg" alt="To Home">
        <a href="mailto:support@chicksgold.com">support&#64;hicksgold.com</a>
      </div>
      <div class="sitemap">
        <span>Chicks Gold</span>

        <a href="">Games</a> 
        <a href="">About Us</a>
        <a href="">Blog</a>
        <a href="">Sitemap</a>
      </div>
      <div class="sitemap">
        <span>support</span>

        <a href="">Contact Us</a>
        <a href="">FAQ</a>
      </div>
      <div class="sitemap">
        <span>Legal</span>

        <a href="">Privacy Policy</a>
        <a href="">Terms of Service</a>
        <a href="">Copyright Policy</a>
      </div>
      <div class="review">
        <div>
          <img src="/assets/images/star-solid.svg" alt="">
          <img src="/assets/images/star-solid.svg" alt="">
          <img src="/assets/images/star-solid.svg" alt="">
          <img src="/assets/images/star-solid.svg" alt="">
          <img src="/assets/images/star-solid.svg" alt="">
        </div>
        <div>
          <span>Trustpilot review</span>
        </div>
      </div>
    </div>


    <!--End Site map section -->
  </div>
</footer>
